<div class="card">
  <div class="info">i</div>
  <div class="icon">M</div>
  <div class="name">Vetemjöl</div>
</div>
<div class="card">
  <div class="info">i</div>
  <div class="icon">M</div>
  <div class="name">Vetemjöl</div>
</div>
<div class="card">
  <div class="info">i</div>
  <div class="icon">M</div>
  <div class="name">Vetemjöl</div>
</div>
<div class="card">
  <div class="icon">M</div>
  <div class="name">Vetemjöl</div>
</div>
<div class="card">
  <div class="info">i</div>
  <div class="icon">M</div>
  <div class="name">Vetemjöl</div>
</div>
<div class="card">
  <div class="info">i</div>
  <div class="icon">M</div>
  <div class="name">Vetemjöl</div>
</div>
<div class="card">
  <div class="info">i</div>
  <div class="icon">M</div>
  <div class="name">Vetemjöl</div>
</div>
<div class="card">
  <div class="info">i</div>
  <div class="icon">M</div>
  <div class="name">Vetemjöl</div>
</div>

<div>
  <div class="overlay"></div>

  <div class="details">
    <div class="main-column"><markdown [data]="getMain()"> </markdown></div>
    <div class="side-column"><markdown [data]="getSide()"> </markdown></div>
  </div>
</div>
