<div class="list" *ngIf="list">
  <div *ngFor="let item of list" class="card" (click)="fetchDetails(item)">
    <div class="info" *ngIf="item.hasDetails">i</div>
    <div class="icon">{{ getIcon(item) }}</div>
    <div class="name">{{ item.name }}</div>
  </div>
</div>

<div *ngIf="detail" (click)="detail = null">
  <div class="overlay"></div>

  <div class="details">
    <div class="main-column"><markdown [data]="getMain()"> </markdown></div>
    <div class="side-column"><markdown [data]="getSide()"> </markdown></div>
  </div>
</div>
